@import-normalize;
@import '_variables';
@import '_mixins';

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:focus {
  @include dashed-focus;
}

.container {
  max-width: 640px;
  line-height: 1.5;
  margin: 0 auto;

  p {
    margin: 0.5em 0;
  }
}
.section {
  margin-top: 60px;
}

/* Navbar */
nav {
  margin-bottom: 20px;
  height: 36px;
  display: flex;
  align-items: center;
  .menu-toggle {
    height: 100%;
    button {
      -webkit-appearance: none;
      background: none;
      border: none;
      padding: 0;
      width: 36px;
      height: 36px;
      color: #d1d1d1;
      cursor: pointer;
      i {
        font-size: 35px;
      }
      &:focus {
        @include dashed-focus;
      }
    }
  }
  .menu {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: flex-end;
    li {
      margin-left: 20px;
      height: 100%;
      .menu-link {
        display: inline-block;
        width: 36px;
        height: 36px;
        path {
          fill: #d1d1d1;
          transition: 0.2s fill ease-out;
        }
        &:hover {
          path {
            fill: $pink;
            transition: 0.2s fill ease-out;
          }
        }
      }
    }
    &.menu-open-enter-active {
      animation: bounceInLeft 0.5s ease-out;
    }
    &.menu-open-exit-active {
      animation: bounceInLeft 0.5s ease-in reverse;
      animation-fill-mode: backwards;
    }
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Skill filter */
.filter {
  margin-top: 30px;
}
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  .skill {
    display: block;
    margin-right: 20px;
    cursor: pointer;
    .filter-icon {
      path {
        fill: $grey;
        transition: 0.2s fill ease-out;
      }
      &:hover {
        path {
          fill: $pink;
          transition: 0.2s fill ease-out;
        }
      }
    }
  }
}

/* Portfolio */
.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.project {
  display: block;
  position: relative;
  width: calc(50% - 15px);
  margin-bottom: 30px;
  height: 0;
  padding-top: calc(50% - 15px);
  overflow: hidden;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: transparent;
  perspective: 1000px;
  .project-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .project-front,
  .project-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .project-front {
    width: 100%;
    height: 100%;
    top: 0;
    filter: grayscale(100%);
    background-size: cover;
    background-position: center center;
  }
  .project-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8556b7, #d03dab);
    .project-title {
      color: #fff;
      font-size: 2em;
    }
  }
  &:hover .project-inner {
    transform: rotateY(180deg);
  }
}

/* Homepage */
.homepage {
  margin-top: 100px;
  display: flex;
  h1 {
    font-size: 3em;
    line-height: 1;
    margin: 0;
    display: inline-block;
  }
  h2 {
    font-weight: 400;
    font-size: 1.75em;
    margin: 0;
  }
  header {
    margin-bottom: 50px;
    margin-top: -70px;
    position: relative;
  }
  .container-sign {
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    img {
      width: 100%;
      height: 100%;
    }
    &.sign-1 {
      height: 300px;
      width: 250px;
      top: 600px;
      left: -50px;
      transform: scale(1.2);
    }
    &.sign-2 {
      height: 200px;
      width: 400px;
      top: 300px;
      right: -100px;
      transform: scale(1.2);
    }
  }
  .container-avatar {
    position: absolute;
    top: 70px;
    right: calc(100% + 60px);
  }
}

/* Avatar */
.avatar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* Project Page */
.project-page {
  width: 800px;
  margin: 50px auto;
  .awssld__bullets {
    bottom: -60px;
    button {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin: 0px;
      cursor: pointer;
      border: none;
      outline: 0px;
      background-color: transparent;
      &::after,
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        transform: scale(0.5);
        transition: transform 0.225s cubic-bezier(0.5, 0.75, 0.5, 1.65) 0s,
          opacity 0.15s ease-out 0s;
      }
      &::before {
        background-color: rgb(106, 106, 106);
      }
      &::after {
        opacity: 0;
        background-color: rgb(160, 160, 160);
      }
      &.active::before {
        opacity: 0;
        transform: scale(0.5);
      }
      &.active::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  .awssld__content > img {
    object-position: center top;
    filter: grayscale(100%);
    transition: 0.3s filter ease-out;
    &:hover {
      filter: none;
      transition: 0.3s filter ease-out;
    }
  }
  header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
  }
}
.project-description {
  margin-top: 50px;
  line-height: 1.5;
}
.project-title {
  font-weight: 400;
  font-size: 1.75em;
  margin: 0;
}
.project-link {
  a {
    text-decoration: none;
    color: $grey;
    display: block;
    margin-left: 5px;
  }
}
